- @selected = :stylesheets
- @title = 'Stylesheets - Radiant CMS - Publishing for Small Teams'
.outset
  %table#stylesheets.index
    %thead
      %tr
        %th.stylesheet Stylesheet
        %th.modify Modify
    %tbody
      %tr.node.level_1
        %td.stylesheet
          %img.icon{:title=>"", :src=>"/images/admin/stylesheet.png", :alt=>""}/
          %span
            %a{:href=>"/admin/stylesheets/edit", :title=>"/stylesheets/print.css"} print.css
        %td.remove
          %a{:href=>"/admin/stylesheets/remove"}
            %img{:src=>"/images/admin/remove.png", :alt=>"Remove Stylesheet"}/
      %tr.node.level_1
        %td.stylesheet
          %img.icon{:title=>"", :src=>"/images/admin/stylesheet.png", :alt=>""}/
          %span
            %a{:href=>"/admin/stylesheets/edit", :title=>"/stylesheets/screen.css"} screen.css
        %td.remove
          %a{:href=>"/admin/stylesheets/remove"}
            %img{:src=>"/images/admin/remove.png", :alt=>"Remove Stylesheet"}/
      %tr.node.level_1
        %td.stylesheet
          %img.icon{:title=>"", :src=>"/images/admin/stylesheet.png", :alt=>""}/
          %span
            %a{:href=>"/admin/stylesheets/edit", :title=>"/stylesheets/shared.css"} shared.css
        %td.remove
          %a{:href=>"/admin/stylesheets/remove"}
            %img{:src=>"/images/admin/remove.png", :alt=>"Remove Stylesheet"}/

#actions
  %ul
    %li
      %a{:href=>"/admin/stylesheets/new"} New Stylesheet
    %li
      %a{:href=>"#"} Upload
    