.page{:caption=>params['part[name]'] || "test"}
  .part
    %input#part_2_name{:name=>"part[2][name]", :type=>"hidden", :value=>"body"}/
    %p
      %label{:for=>"part_2_filter_id"} Filter
      %select#part_2_filter_id{:name=>"part[20][filter_id]"}
        %option{:value=>""} &lt;none&gt;
        %option{:value=>"Markdown"} Markdown
        %option{:value=>"SmartyPants"} SmartyPants
        %option{:value=>"Textile"} Textile
      %span.reference_links
        Reference:
        %span#filter_reference_link_2
          %a{:href=>"#", :onclick=>"loadFilterReference(0); return false;"} Filter
        %span#tag_reference_link_2
          %a{:href=>"#", :onclick=>"loadTagReference(0); return false;"} Available Tags
    %div
      %textarea.large#part_0_content{:name=>"part[0][content]", :style=>"width: 100%"}=""