#add_attribute_popup.popup
  #add_attribute_busy.busy{:style=>"display: none"}
    %img{:src=>"/images/admin/spinner.gif", :alt=>"Spinner"}/
  .popup_title Add Attribute
  %form{:action=>"/admin/pages/attributes/create/", :method=>"post", :onsubmit=>"event.stop(); addAttribute(this)"}
    %p
      %label{:for=>"attribute_name_field"} Name
      %input.textbox.big#attribute_name_field{:name=>"attribute[name]", :type=>"text", :value=>"", :maxlength=>"100", :style=>"width: 15em"}/
      %input#attribute_index_field{:name=>"index", :type=>"hidden", :value=>"2"}/
    .buttons
      %input.button#add_attribute_button{:name=>"commit", :type=>"submit", :value=>"Add Attribute"}/
      or
      %a.cancel{:href => "#add_attribute_popup", :onclick=>"event.stop(); this.up('.popup').closePopup()"} Cancel