- body_classes << "reversed"
- @selected = :layouts
- @title = 'Normal Layout - Radiant CMS - Publishing for Small Teams'

%h1 Edit Layout

%form{:method=>"post", :action=>"/admin/layouts/", :onsubmit_status=>"Saving changes&#8230;"}
  
  = render :partial => "fields"
  
  %p.buttons{:style=>"clear: left"}
    %input.button{:type=>"submit", :value=>"Save Changes"}/
    %input.button{:type=>"submit", :value=>"Save and Continue Editing"}/
    or
    %a{:href=>"/admin/layouts/"} Cancel
  
  %p.updated_line
    Last updated by
    %strong Administrator
    at 3:25 pm
    on April 19, 2008