- @selected = :layouts
- @title = 'Layouts - Radiant CMS - Publishing for Small Teams'

.outset
  %table#layouts.index
    %thead
      %tr
        %th.name Layout
        %th.modify Modify
    %tbody
      %tr.layout#layout_1
        %td.name
          %img{:title=>"", :src=>"/images/admin/layout.png", :alt=>"" }/
          %a{:href=>"/admin/layouts/edit" } Two Column
        %td.remove
          %a{:href=>"/admin/layouts/remove" } Remove
      %tr.layout#layout_2
        %td.name
          %img{:title=>"", :src=>"/images/admin/layout.png", :alt=>"" }/
          %a{:href=>"/admin/layouts/edit" } Three Column
        %td.remove
          %a{:href=>"/admin/layouts/remove" } Remove
      %tr.layout#layout_3
        %td.name
          %img{:title=>"", :src=>"/images/admin/layout.png", :alt=>"" }/
          %a{:href=>"/admin/layouts/edit" } XML Feed
        %td.remove
          %a{:href=>"/admin/layouts/remove" } Remove

#actions
  %ul
    %li= link_to image('plus.png') + " New Layout", "/admin/layouts/new"