- @selected = :layouts
.outset
  %table#layouts.index{:cellspacing=>"0", :border=>"0", :cellpadding=>"0" }
    %thead
      %tr
        %th.layout
          Layout
        %th.modify
          Modify
    %tbody
      %tr.node.level-1
        %td.layout
          %img{:title=>"", :src=>"/admin/images/layout.png", :alt=>"layout-icon" }/
          %a{:href=>"/admin/layouts/edit" }
            Normal
        %td.remove
          %a{:href=>"/admin/layouts/remove" }
            %img{:src=>"/admin/images/remove.png", :alt=>"Remove Layout" }/
      %tr.node.level-1
        %td.layout
          %img{:title=>"", :src=>"/admin/images/layout.png", :alt=>"layout-icon" }/
          %a{:href=>"/admin/layouts/edit" }
            Stylesheet
        %td.remove
          %a{:href=>"/admin/layouts/remove" }
            %img{:src=>"/admin/images/remove.png", :alt=>"Remove Layout" }/
      %tr.node.level-1
        %td.layout
          %img{:title=>"", :src=>"/admin/images/layout.png", :alt=>"layout-icon" }/
          %a{:href=>"/admin/layouts/edit" }
            XML Feed
        %td.remove
          %a{:href=>"/admin/layouts/remove" }
            %img{:src=>"/admin/images/remove.png", :alt=>"Remove Layout" }/

#actions
  %ul
    %li
      %a{:href=>"/admin/layouts/new"} New Layout