- @selected = :layouts
- @title = 'Layouts - Radiant CMS - Publishing for Small Teams'

.outset
  %table#layouts.index
    %thead
      %tr
        %th.layout
          Layout
        %th.modify
          Modify
    %tbody
      %tr.node.level_1
        %td.layout
          %img{:title=>"", :src=>"/images/admin/layout.png", :alt=>"" }/
          %a{:href=>"/admin/layouts/edit" }
            Home Page
        %td.remove
          %a{:href=>"/admin/layouts/remove" }
            Remove
      %tr.node.level_1
        %td.layout
          %img{:title=>"", :src=>"/images/admin/layout.png", :alt=>"" }/
          %a{:href=>"/admin/layouts/edit" }
            Normal Page
        %td.remove
          %a{:href=>"/admin/layouts/remove" }
            Remove
      %tr.node.level_1
        %td.layout
          %img{:title=>"", :src=>"/images/admin/layout.png", :alt=>"" }/
          %a{:href=>"/admin/layouts/edit" }
            XML Feed
        %td.remove
          %a{:href=>"/admin/layouts/remove" }
            Remove

#actions
  %ul
    %li= link_to image('plus.png') + " New Layout", "/admin/layouts/new"