- @selected = :layouts
- @title = 'Layouts - Radiant CMS - Publishing for Small Teams'

.outset
  %table#layouts.index{:cellspacing=>"0", :border=>"0", :cellpadding=>"0" }
    %thead
      %tr
        %th.layout
          Layout
        %th.modify
          Modify
    %tbody
      %tr.node.level_1
        %td.layout
          %img{:title=>"", :src=>"/images/admin/layout.png", :alt=>"" }/
          %a{:href=>"/admin/layouts/edit" }
            Home Page
        %td.remove
          %a{:href=>"/admin/layouts/remove" }
            %img{:src=>"/images/admin/remove.png", :alt=>"Remove Layout" }/
      %tr.node.level_1
        %td.layout
          %img{:title=>"", :src=>"/images/admin/layout.png", :alt=>"" }/
          %a{:href=>"/admin/layouts/edit" }
            Normal Page
        %td.remove
          %a{:href=>"/admin/layouts/remove" }
            %img{:src=>"/images/admin/remove.png", :alt=>"Remove Layout" }/
      %tr.node.level_1
        %td.layout
          %img{:title=>"", :src=>"/images/admin/layout.png", :alt=>"" }/
          %a{:href=>"/admin/layouts/edit" }
            XML Feed
        %td.remove
          %a{:href=>"/admin/layouts/remove" }
            %img{:src=>"/images/admin/remove.png", :alt=>"Remove Layout" }/

#actions
  %ul
    %li
      %a{:href=>"/admin/layouts/new"} New Layout