- content_for :meta do
  :javascript
    var lastPageType = "";
    var tagReferenceWindows = {};
    function loadTagReference(part) {
      var pageType = 'Page';
      var window = tagReferenceWindows[pageType];
      if (!tagReferenceWindows[pageType])
        tagReferenceWindows[pageType] = new Popup.AjaxWindow("/admin/docs/tags/" + encodeURIComponent(pageType));
      var window = tagReferenceWindows[pageType];
      if(lastPageType != pageType) {
        window.show();
      } else {
        window.toggle();
      }
      lastPageType = pageType;
      return false;
    }
    
    var snippetsWindow = undefined;
    function loadSnippetReference(part) {
      if (snippetsWindow) {
        snippetsWindow.toggle();
      } else {
        snippetsWindow = new Popup.AjaxWindow("/admin/docs/snippets/show");
        snippetsWindow.show();
      }
      return false;
    }
    
%p.title
  %label{:for=>"layout_name"} Name
  %input.textbox.activate{:name=>"layout_name", :id=>"layout_name", :maxlength=>100}/

.drawer
  .drawer_contents#attributes
    %table.fieldset
      %tr
        %th.label
          %label{:for=>"layout_content_type"} Content&#8209;Type
        %td.field
          %input.textbox{:type=>"text", :name=>"layout_content_type", :id=>"layout_content_type", :maxlenght=>40, :value=>"text/html"}/
  .drawer_handle
    %a.toggle.more{:href=>"#attributes", :rel=>"toggle[attributes]"} More

%p.content
  %label{:for=>"layout_content"} Body
  %textarea.large{:name=>"layout_content", :id=>"layout_content", :style=>"width: 100%", :cols=>40, :rows=>20}=""
%p
  %span.reference_links
    Reference:
    %span#tag_reference_link
      %a{:href=>"#", :onclick=>"loadTagReference(0); return false;"} Available Tags

%div
  %input{:type=>"hidden", :id=>"layout_lock_version", :name=>"layout[lock_version]", :value=>"0"}/