- @selected = :javascripts
- @title = 'Javascripts - Radiant CMS - Publishing for Small Teams'
.outset
  %table#javascripts.index{:cellspacing=>"0", :border=>"0", :cellpadding=>"0"}
    %thead
      %tr
        %th.javascript Javascripts
        %th.modify Modify
    %tbody
      %tr.node.level_1
        %td.javascript
          %img.icon{:title=>"", :src=>"/images/admin/javascript.png", :alt=>"javascript_icon"}/
          %span
            %a{:href=>"/admin/javascripts/edit", :title=>"/javascripts/controls.js"} controls.js
        %td.remove
          %a{:href=>"/admin/javascripts/remove"}
            %img{:src=>"/images/admin/remove.png", :alt=>"Remove Javascript"}/
      %tr.node.level_1
        %td.javascript
          %img.icon{:title=>"", :src=>"/images/admin/javascript.png", :alt=>"javascript_icon"}/
          %span
            %a{:href=>"/admin/javascripts/edit", :title=>"/javascripts/effects.js"} effects.js
        %td.remove
          %a{:href=>"/admin/javascripts/remove"}
            %img{:src=>"/images/admin/remove.png", :alt=>"Remove Javascript"}/
      %tr.node.level_1
        %td.javascript
          %img.icon{:title=>"", :src=>"/images/admin/javascript.png", :alt=>"javascript_icon"}/
          %span
            %a{:href=>"/admin/javascripts/edit", :title=>"/javascripts/prototype.js"} prototype.js
        %td.remove
          %a{:href=>"/admin/javascripts/remove"}
            %img{:src=>"/images/admin/remove.png", :alt=>"Remove Javascript"}/

#actions
  %ul
    %li
      %a{:href=>"/admin/javascripts/new"} New Javascript
    %li
      %a{:href=>"#"} Upload
    