- content_for :meta do
  %script{:type=>"text/javascript"}
    :plain
      function addPart(form) {
         if (validPartName()) {
          new Ajax.Updater(
            $('tab-control').down('.pages'),
            '/admin/pages/parts/create/',
            {
              asynchronous: true,
              evalScripts: true,
              insertion: Insertion.Bottom,
              onComplete: function(request){ partAdded() },
              onLoading: function(request){ partLoading() },
              parameters: Form.serialize(form)
            }
          );
        }
      }
      function removePart() {
        if(confirm('Remove the current part?')) {
          TabControls['tab-control'].removeSelected();
        }
      }
      function partAdded() {
        var tabControl = TabControls['tab-control'];
        $('add-part-busy').hide();
        $('add-part-button').disabled = false;
        $('add-part-popup').closePopup();
        tabControl.updateTabs();
        tabControl.select(tabControl.tabs.last());
      }
      function partLoading() {
        $('add-part-button').disabled = true;
        $('add-part-busy').appear();
      }
      function validPartName() {
        var partNameField = $('part-name-field');
        var name = partNameField.value.downcase();
        if (name.blank()) {
          alert('Part name cannot be empty.');
          return false;
        }
        if (TabControls['tab-control'].findTabByCaption(name)) {
          alert('Part name must be unique.');
          return false;
        }
        return true;
      }
      
      function addAttribute(form) {
        if (validAttributeName()) {
          new Ajax.Updater(
            $('extended-metadata').down('table'),
            '/admin/pages/attributes/create/',
            {
              asynchronous: true,
              evalScripts: true,
              insertion: Insertion.Bottom,
              onComplete: function(response){ attributeAdded() },
              onLoading: function(request){ attributeLoading() },
              parameters: Form.serialize(form)
            }
          );
        }
      }
      function removeAttribute(button) {  
        Element.remove($(button).up('tr'));
      }
      function attributeAdded() {
        $('add-attribute-busy').hide();
        $('add-attribute-button').disabled = false;
        $('add-attribute-popup').closePopup();
      }
      function attributeLoading() {
        $('add-attribute-button').disabled = true;
        $('add-attribute-busy').appear();
      }
      function validAttributeName() {
        return true;
      }
      
      var lastPageType = "";
      var tagReferenceWindows = {};
      function loadTagReference(part) {
        var pageType = $F('page_class_name');
        var window = tagReferenceWindows[pageType];
        if (!tagReferenceWindows[pageType])
          tagReferenceWindows[pageType] = new Popup.AjaxWindow("/admin/docs/tags/" + encodeURIComponent(pageType));
        var window = tagReferenceWindows[pageType];
        if(lastPageType != pageType) {
          $('tag-reference-link-' + part).highlight();
          window.show();
        } else {
          window.toggle();
        }
        lastPageType = pageType;
        return false;
      }
      
      var lastFilter = "";
      var filterWindows = {};
      function loadFilterReference(part) {
        var filter = $F("part_" + part + "_filter_id");
        if (filter != "") {
          if (!filterWindows[filter]) filterWindows[filter] = new Popup.AjaxWindow("/admin/docs/filters/" + encodeURIComponent(filter), {reload: false});
          var window = filterWindows[filter];
          if(lastFilter != filter) {
            window.show();
          } else {
            window.toggle();
          }
          lastFilter = filter;
        } else {
          alert('No documentation for filter.');
        }
        return false;
      }
  
  %style{:type=>"text/css", :media=>"screen"}
    :sass
      #content
        #extended-metadata
          .fieldset
            margin-left: 0
            margin-right: 0
            margin-bottom: .5em
            padding: 0
            td.label
              text-align: left
              width: 15%
              .textbox
                width: 90%

%input#page_lock_version{:name=>"page[lock_version]", :type=>"hidden", :value=>"0"}/

.form-area
  %p.title
    %label{:for=>"page_title"} Page Title
    %input#page_title.textbox.activate{:name=>"page[title]", :size=>"255", :type=>"text", :maxlength=>"255"}/
  
  #extended-metadata.row{:style=>"display: none"}
    %table.fieldset
      %tr
        %td.label
          %label{:for=>"page_slug"} Slug
        %td.field
          %input#page_slug.textbox{:name=>"page[slug]", :size=>"100", :type=>"text", :value=>"/", :maxlength=>"100"}/
        %td.actions
      %tr
        %td.label
          %label{:for=>"page_breadcrumb"} Breadcrumb
        %td.field
          %input#page_breadcrumb.textbox{:name=>"page[breadcrumb]", :size=>"160", :type=>"text", :value=>"Home", :maxlength=>"160"}/
        %td.actions
          %a.popup{:href=>"/admin/pages/attributes/new", :title=>"Add Attribute"}
            %img{:src=>"/admin/images/plus.png", :alt=>"Add Attribute", :title=>""}/
  %p.more-or-less
    %small
      %a{:id=>"more-extended-metadata", :href=>"javascript: $('extended-metadata').show(); $('less-extended-metadata').show(); $('more-extended-metadata').hide(); this.stop()"} Show Metadata
      %a{:id=>"less-extended-metadata", :href=>"javascript: $('extended-metadata').hide(); $('more-extended-metadata').show(); $('less-extended-metadata').hide(); this.stop()", :style=>"display: none"} Hide Metadata
  
  #tab-control
    .tabs
      #tab-toolbar
        %a.popup{:href=>"/admin/pages/parts/new", :title=>"Add Part"}
          %img{:src=>"/admin/images/add_tab.png", :alt=>"Add Part", :title=>""}/
    .pages
      .page{:caption=>"body"}
        .part
          %input#part_0_name{:name=>"part[0][name]", :type=>"hidden", :value=>"body"}/
          %p
            %label{:for=>"part_0_filter_id"} Filter
            %select#part_0_filter_id{:name=>"part[0][filter_id]"}
              %option{:value=>""} &lt;none&gt;
              %option{:value=>"Markdown"} Markdown
              %option{:value=>"SmartyPants"} SmartyPants
              %option{:value=>"Textile"} Textile
            %span#reference-links
              Reference:
              %span#filter-reference-link-0
                %a{:href=>"#", :onclick=>"loadFilterReference(0); return false;"} Filter
              %span#tag-reference-link-0
                %a{:href=>"#", :onclick=>"loadTagReference(0); return false;"} Available Tags
          %div
            %textarea#part_0_content.textarea{:name=>"part[0][content]", :style=>"width: 100%"}=""
      .page{:caption=>"sidebar"}
        .part
          %input#part_1_name{:name=>"part[1][name]", :type=>"hidden", :value=>"sidebar"}/
          %p
            %label{:for=>"part_1_filter_id"}
              Filter
            %select#part_1_filter_id{:name=>"part[1][filter_id]"}
              %option{:value=>""} &lt;none&gt;
              %option{:value=>"Markdown"} Markdown
              %option{:value=>"SmartyPants"} SmartyPants
              %option{:value=>"Textile"} Textile
            %span#reference-links
              Reference:
              %span#filter-reference-link-1
                %a{:href=>"#", :onclick=>"loadFilterReference(1); return false;"} Filter
              %span#tag-reference-link-1
                %a{:href=>"#", :onclick=>"loadTagReference(1); return false;"} Available Tags
          %div
            %textarea#part_1_content.textarea{:name=>"part[1][content]", :style=>"width: 100%"}=""
  .row
    %p
      %label{:for=>"page_layout_id"} Layout
      %select#page_layout_id{:name=>"page[layout_id]"}
        %option{:value=>""} &lt;inherit&gt;
        %option{:selected=>"selected", :value=>"1"} Normal
        %option{:value=>"2"} Stylesheet
        %option{:value=>"3"} XML Feed
    %p
      %label{:for=>"page_class_name"} Page Type
      %select#page_class_name{:name=>"page[class_name]"}
        %option{:value=>"Page"} &lt;normal&gt;
        %option{:value=>"ArchivePage"} Archive
        %option{:value=>"ArchiveDayIndexPage"} Archive Day Index
        %option{:value=>"ArchiveMonthIndexPage"} Archive Month Index
        %option{:value=>"ArchiveYearIndexPage"} Archive Year Index
        %option{:value=>"FileNotFoundPage"} File Not Found
    %p
      %label{:for=>"page_status_id"} Status
      %select#page_status_id{:name=>"page[status_id]"}
        %option{:value=>"1"} Draft
        %option{:value=>"50"} Reviewed
        %option{:selected=>"selected", :value=>"100"} Published
        %option{:value=>"101"} Hidden
  
  %p{:style=>"clear: left"}
    %small
      Last updated by admin at 02:26
      %small AM
      on February 22, 2008