- @selected = :pages
- @title = 'Pages - Radiant CMS - Publishing for Small Teams'

.outset
  %table#site_map.index{:summary=>"Page hierarchy of the current site"}
    %thead
      %tr
        %th.page Page
        %th.status Status
        %th.modify{:colspan=>"2"} Modify
    %tbody
      %tr#page_1.node.level_0.children_visible
        %td.page{:style=>"padding-left: 9px"}
          %span.w1
            %a{:href=>"/admin/pages/edit", :title=>"/"}
              %img.icon{:title=>"", :src=>"/images/admin/page.png", :alt=>"", :width=>25, :height=>30}/
              %span.title Home Page
            %img#busy_1.busy{:title=>"", :src=>"/images/admin/spinner.gif", :alt=>"", :style=>"display: none;"}/
        %td.status.published_status Published
        %td.add_child
          %a{:href=>"/admin/pages/new"}
            Add Child
        %td.remove
          %a{:href=>"/admin/pages/remove"}
            Remove
      %tr#page_2.node.level_1.no_children.virtual
        %td.page{:style=>"padding-left: 32px"}
          %span.w1
            %a{:href=>"/admin/pages/edit", :title=>"/file-not-found/"}
              %img.icon{:title=>"", :src=>"/images/admin/virtual_page.png", :alt=>""}/
              %span.title File Not Found
            %small.info (File Not Found)
            %img#busy_2.busy{:title=>"", :src=>"/images/admin/spinner.gif", :alt=>"", :style=>"display: none;"}/
        %td.status.published_status Published
        %td.add_child
          %a{:href=>"/admin/pages/new"}
            Add Child
        %td.remove
          %a{:href=>"/admin/pages/remove"}
            Remove
      %tr#page_9.node.level_1.no_children
        %td.page{:style=>"padding-left: 32px"}
          %span.w1
            %a{:href=>"/admin/pages/edit", :title=>"/about/"}
              %img.icon{:title=>"", :src=>"/images/admin/page.png", :alt=>"", :width=>25, :height=>30}/
              %span.title About
            %img#busy_9.busy{:title=>"", :src=>"/images/admin/spinner.gif", :alt=>"", :style=>"display: none;"}/
        %td.status.published_status Published
        %td.add_child
          %a{:href=>"/admin/pages/new"}
            Add Child
        %td.remove
          %a{:href=>"/admin/pages/remove"}
            Remove
      %tr#page_4.node.level_1.children_visible
        %td.page{:style=>"padding-left: 32px"}
          %span.w1
            %img.expander{:title=>"", :src=>"/images/admin/collapse.png", :alt=>"toggle children"}/
            %a{:href=>"/admin/pages/edit", :title=>"/articles/"}
              %img.icon{:title=>"", :src=>"/images/admin/page.png", :alt=>"", :width=>25, :height=>30}/
              %span.title Articles
            %small.info (Archive)
            %img#busy_4.busy{:title=>"", :src=>"/images/admin/spinner.gif", :alt=>"", :style=>"display: none;"}/
        %td.status.published_status Published
        %td.add_child
          %a{:href=>"/admin/pages/new"}
            Add Child
        %td.remove
          %a{:href=>"/admin/pages/remove"}
            Remove
      %tr#page_10.node.level_2.no_children.virtual
        %td.page{:style=>"padding-left: 55px"}
          %span.w1
            %a{:href=>"/admin/pages/edit", :title=>"/articles/2008/02/21/monthly-archives/"}
              %img.icon{:title=>"", :src=>"/images/admin/virtual_page.png", :alt=>""}/
              %span.title %B %Y Archives
            %small.info (Archive Month Index)
            %img#busy_10.busy{:title=>"", :src=>"/images/admin/spinner.gif", :alt=>"", :style=>"display: none;"}/
        %td.status.published_status Published
        %td.add_child
          %a{:href=>"/admin/pages/new"}
            Add Child
        %td.remove
          %a{:href=>"/admin/pages/remove"}
            Remove
      %tr#page_5.node.level_2.no_children
        %td.page{:style=>"padding-left: 55px"}
          %span.w1
            %a{:href=>"/admin/pages/edit", :title=>"/articles/2006/06/09/first-post/"}
              %img.icon{:title=>"", :src=>"/images/admin/page.png", :alt=>"", :width=>25, :height=>30}/
              %span.title First Post
            %img#busy_5.busy{:title=>"", :src=>"/images/admin/spinner.gif", :alt=>"", :style=>"display: none;"}/
        %td.status.published_status Published
        %td.add_child
          %a{:href=>"/admin/pages/new"}
            Add Child
        %td.remove
          %a{:href=>"/admin/pages/remove"}
            Remove
      %tr#page_6.node.level_2.no_children
        %td.page{:style=>"padding-left: 55px"}
          %span.w1
            %a{:href=>"/admin/pages/edit", :title=>"/articles/2006/06/10/second-post/"}
              %img.icon{:title=>"", :src=>"/images/admin/page.png", :alt=>"", :width=>25, :height=>30}/
              %span.title
                Second Post
            %img#busy_6.busy{:title=>"", :src=>"/images/admin/spinner.gif", :alt=>"", :style=>"display: none;"}/
        %td.status.published_status Published
        %td.add_child
          %a{:href=>"/admin/pages/new"}
            Add Child
        %td.remove
          %a{:href=>"/admin/pages/remove"}
            Remove
      %tr#page_8.node.level_2.no_children
        %td.page{:style=>"padding-left: 55px"}
          %span.w1
            %a{:href=>"/admin/pages/edit", :title=>"/articles/2008/02/21/third-post/"}
              %img.icon{:title=>"", :src=>"/images/admin/page.png", :alt=>"", :width=>25, :height=>30}/
              %span.title Third Post
            %img#busy_8.busy{:title=>"", :src=>"/images/admin/spinner.gif", :alt=>"", :style=>"display: none;"}/
        %td.status.published_status Published
        %td.add_child
          %a{:href=>"/admin/pages/new"}
            Add Child
        %td.remove
          %a{:href=>"/admin/pages/remove"}
            Remove
      %tr#page_3.node.level_1.no_children
        %td.page{:style=>"padding-left: 32px"}
          %span.w1
            %a{:href=>"/admin/pages/edit", :title=>"/rss/"}
              %img.icon{:title=>"", :src=>"/images/admin/page.png", :alt=>"", :width=>25, :height=>30}/
              %span.title RSS Feed
            %img#busy_3.busy{:title=>"", :src=>"/images/admin/spinner.gif", :alt=>"", :style=>"display: none;"}/
        %td.status.published_status Published
        %td.add_child
          %a{:href=>"/admin/pages/new"}
            Add Child
        %td.remove
          %a{:href=>"/admin/pages/remove"}
            Remove
      %tr#page_7.node.level_1.no_children
        %td.page{:style=>"padding-left: 32px"}
          %span.w1
            %a{:href=>"/admin/pages/edit", :title=>"/styles.css/"}
              %img.icon{:title=>"", :src=>"/images/admin/page.png", :alt=>"", :width=>25, :height=>30}/
              %span.title Styles
            %img#busy_7.busy{:title=>"", :src=>"/images/admin/spinner.gif", :alt=>"", :style=>"display: none;"}/
        %td.status.published_status Published
        %td.add_child
          %a{:href=>"/admin/pages/new"}
            Add Child
        %td.remove
          %a{:href=>"/admin/pages/remove"}
            Remove