- @selected = :pages

%h1 Remove Pages

%p Are you sure you want to <strong class="warning">permanently remove</strong> the following pages?

%table.index#site_map{:cellpadding=>0, :cellspacing=>0, :border=>0}
  %tbody
    %tr.node.level_0.children_visible#page_4
      %td.page{:style=>"padding-left: 4px"}
        %span.w1
          %img.icon{:src=>"/images/admin/page.png", :alt=>"", :title=>""}/
          %span.title Articles
    %tr.node.level_1.no_children.virtual#page_10
      %td.page{:style=>"padding-left: 26px"}
        %span.w1
          %img.icon{:src=>"/images/admin/virtual_page.png", :alt=>"", :title=>""}/
          %span.title %B %Y Archives
    %tr.node.level_1.no_children#page_5
      %td.page{:style=>"padding-left: 26px"}
        %span.w1
          %img.icon{:src=>"/images/admin/page.png", :alt=>"", :title=>""}/
          %span.title First Post
    %tr.node.level_1.no_children#page_6
      %td.page{:style=>"padding-left: 26px"}
        %span.w1
          %img.icon{:src=>"/images/admin/page.png", :alt=>"", :title=>""}/
          %span.title Second Post
    %tr.node.level_1.no_children#page_8
      %td.page{:style=>"padding-left: 26px"}
        %span.w1
          %img.icon{:src=>"/images/admin/page.png", :alt=>"", :title=>""}/
          %span.title Third Post

%form{:method=>"post", :action=>"/admin/pages/index_after_pages_removed.haml"}
  %p.buttons
    %input.button{:type=>"submit", :value=>"Delete Pages"}/
    or
    %a{:href=>"/admin/pages"} Cancel