- popup_id = "remove_snippet_popup_#{Time.now.to_i}"

.popup.textured{:id=>popup_id}
  %form{:method=>"post", :action=>"/admin/snippets/", "data-onsubmit_status"=>"Removing snippet&#8230;"}
    %h3.title Remove Snippet
    
    .head
      %p Are you sure you want to <strong class="warning">permanently remove</strong> the following snippet?
    
    .viewport{:style=>"height: 100px"}
      %table.index
        %tbody
          %tr.snippet#snippet_4
            %td.name
              %img.icon{:src=>"/images/admin/snippet.png", :alt=>"", :title=>""}/
              %span.title footer
    
    %p.buttons
      %input.button{:type=>"submit", :value=>"Delete Snippet"}/
      or
      %a.cancel{:href=>"javascript: Element.closePopup('#{popup_id}')"} Cancel