- @selected = :images
- @title = 'Images - Radiant CMS - Publishing for Small Teams'

.outset
  %table#images.index
    %thead
      %tr
        %th.name Image
        %th.modify Modify
    %tbody
      %tr.image#image_1
        %td.name
          %img{:title=>"", :src=>"/images/admin/image.png", :alt=>"image_icon"}/
          %a{:href=>"/admin/images/edit", :title=>"/images/logo.png"} logo.png
        %td.remove
          %a{:href=>"/admin/images/remove"} Remove
      %tr.image#image_2
        %td.name
          %img{:title=>"", :src=>"/images/admin/image.png", :alt=>"image_icon"}/
          %a{:href=>"/admin/images/edit", :title=>"/images/john.jpg"} john.jpg
        %td.remove
          %a{:href=>"/admin/images/remove"} Remove
      %tr.image#image_3
        %td.name
          %img{:title=>"", :src=>"/images/admin/image.png", :alt=>"image_icon"}/
          %a{:href=>"/admin/images/edit", :title=>"/images/sean.jpg"} sean.jpg
        %td.remove
          %a{:href=>"/admin/images/remove"} Remove

#actions
  %ul
    %li
      %a{:href=>"#"} Upload Image
