- body_classes << "reversed"
- @selected = :general

%h1 Personal Preferences

%form{:method=>"post", :action=>"/admin/users/preferences/", :onsubmit_status=>"Saving changes&#8230;"}
  %p
    %label{:for=>"user_name"} Name
    %input.textbox{:type=>"text", :name=>"user_name", :id=>"user_name", :size=>32, :maxlength=>255}/
  %p
    %label{:for=>"user_login"} Username
    %input.textbox{:type=>"text", :name=>"user_login", :id=>"user_login", :size=>32, :maxlength=>255}/
  
  %p
    %label{:for=>"user_email"} E-mail
    %input.textbox{:type=>"text", :name=>"user_email", :id=>"user_email", :size=>32, :maxlength=>255}/
  
  = render :partial => "../users/password_fields"
  
  %p.buttons
    %input.button{:type=>"submit", :value=>"Save Changes"}/
    or
    %a{:href=>"/admin/settings/"} Cancel