- body_classes << "reversed"
- @selected = :pages

%h1 New Page

%form{:enctype=>"multipart/form-data", :action=>"/admin/pages/", :method=>"post", "data-onsubmit_status"=>"Creating page&#8230;"}
  
  = render "fields"
  
  .buttons{:style=>"clear: left"}
    %input.button{:name=>"commit", :type=>"submit", :value=>"Create Page"}/
    %input.button{:name=>"continue", :type=>"submit", :value=>"Save and Continue Editing"}/
    or
    %a.cancel{:href=>"/admin/pages"} Cancel