- @logged_out = true

- content_for :meta do
  %style{:type=>"text/css"}
    :sass
      #content
        text-align: center
        #login
          background-color: #f5f1e2
          border: 5px solid #efead3
          text-align: left
          margin: 2em
          margin-left: auto
          margin-right: auto
          padding: 5px 20px
          padding-right: 22px
          position: relative
          width: 23.5em
          h1
            font-size: 140%    
            margin: 0
            margin-top: 13px
          table
            width: 100%
            margin: 15px 0 10px 0
            td
              text-align: left
              padding: 6px 0
              &.label
                width: 6em
              &.field
                input.textbox
                  font-size: 100%
                  width: 98%
              &.checkbox
                font-size: 85%
              &.buttons
                background: none
                text-align: right
                input
                  font-size: 140%

#login
  %h1 Please Login
  
  %form{:method=>"post", :action=>"/admin/pages/"}
    %table
      %tr
        %td.label
          %label{:for=>"user_login"} Username
        %td.field{:colspan=>2}
          %input.textbox.activate{:name=>"user[login]", :id=>"user_login", :type=>"text", :value=>"", :maxlength=>"40", :size=>"40"}/
      %tr
        %td.label
          %label{:for=>"user_password"} Password
        %td.field{:colspan=>2}
          %input.textbox{:name=>"user[password]", :id=>"user_password", :type=>"password", :value=>"", :maxlength=>"40", :size=>"40"}/
      %tr
        %td
        %td.checkbox
          %input.checkbox{:name=>"user[remember_me]", :id=>"user_remember_me", :type=>"checkbox"}/
          %label.checkbox{:for=>"user_remember_me"} Remember me
        %td.buttons
          %input.button{:type=>"submit", :value=>"Login"}/