- body_classes << "login"
- @logged_out = true

#login
  %h1 Please Login
  
  %form{:method=>"post", :action=>"/admin/pages/"}
    %table
      %tr
        %td.label
          %label{:for=>"user_login"} Username
        %td.field{:colspan=>2}
          %input.textbox.activate{:name=>"user[login]", :id=>"user_login", :type=>"text", :value=>"", :maxlength=>"40", :size=>"40"}/
      %tr
        %td.label
          %label{:for=>"user_password"} Password
        %td.field{:colspan=>2}
          %input.textbox{:name=>"user[password]", :id=>"user_password", :type=>"password", :value=>"", :maxlength=>"40", :size=>"40"}/
      %tr
        %td
        %td.checkbox
          %input.checkbox{:name=>"user[remember_me]", :id=>"user_remember_me", :type=>"checkbox"}/
          %label.checkbox{:for=>"user_remember_me"} Remember me
        %td.buttons
          %input.button{:type=>"submit", :value=>"Login"}/