- body_classes << "reversed"
- @selected = :general

%h1 Configuration

%form{:method=>"post", :action=>"/admin/settings/", :onsubmit_status=>"Saving changes&#8230;"}
  %fieldset
    %h3 General
    %p
      %label{:for=>"site_name"} Site Name
      %input.textbox{:type=>"text", :name=>"site_name", :id=>"site_name", :size=>32, :maxlength=>255}/
    %p
      %label{:for=>"domain"} Domain Name
      %input.textbox{:type=>"text", :name=>"domain", :id=>"domain", :size=>32, :maxlength=>255}/
    %p
      %label{:for=>"dev_domain"} Dev Site Domain
      %input.textbox{:type=>"text", :name=>"dev_domain", :id=>"dev_domain", :size=>32, :maxlength=>255}/
    %p
      %label{:for=>"timezone"} Timezone
      %select{:name=>"timezone", :id=>"timezone"}
        - for option in ["Abu Dhabi", "Adelaide", "Alaska", "Almaty", "Amsterdam", "Arizona", "Astana", "Athens", "Atlantic Time (Canada)", "Auckland", "Azores", "Baghdad", "Baku", "Bangkok", "Beijing", "Belgrade", "Berlin", "Bern", "Bogota", "Brasilia", "Bratislava", "Brisbane", "Brussels", "Bucharest", "Budapest", "Buenos Aires", "Cairo", "Canberra", "Cape Verde Is.", "Caracas", "Casablanca", "Central America", "Central Time (US & Canada)", "Chennai", "Chihuahua", "Chongqing", "Copenhagen", "Darwin", "Dhaka", "Dublin", "Eastern Time (US & Canada)", "Edinburgh", "Ekaterinburg", "Fiji", "Georgetown", "Greenland", "Guadalajara", "Guam", "Hanoi", "Harare", "Hawaii", "Helsinki", "Hobart", "Hong Kong", "Indiana (East)", "International Date Line West", "Irkutsk", "Islamabad", "Istanbul", "Jakarta", "Jerusalem", "Kabul", "Kamchatka", "Karachi", "Kathmandu", "Kolkata", "Krasnoyarsk", "Kuala Lumpur", "Kuwait", "Kyev", "La Paz", "Lima", "Lisbon", "Ljubljana", "London", "Madrid", "Magadan", "Marshall Is.", "Mazatlan", "Melbourne", "Mexico City", "Mid-Atlantic", "Midway Island", "Minsk", "Monrovia", "Monterrey", "Moscow", "Mountain Time (US & Canada)", "Mumbai", "Muscat", "Nairobi", "New Caledonia", "New Delhi", "Newfoundland", "Novosibirsk", "Nuku'alofa", "Osaka", "Pacific Time (US & Canada)", "Paris", "Perth", "Port Moresby", "Prague", "Pretoria", "Quito", "Rangoon", "Riga", "Riyadh", "Rome", "Samoa", "Santiago", "Sapporo", "Sarajevo", "Saskatchewan", "Seoul", "Singapore", "Skopje", "Sofia", "Solomon Is.", "Sri Jayawardenepura", "St. Petersburg", "Stockholm", "Sydney", "Taipei", "Tallinn", "Tashkent", "Tbilisi", "Tehran", "Tijuana", "Tokyo", "Ulaan Bataar", "Urumqi", "Vienna", "Vilnius", "Vladivostok", "Volgograd", "Warsaw", "Wellington", "West Central Africa", "Yakutsk", "Yerevan", "Zagreb"]
          %option{:selected=>(option == "Eastern Time (US & Canada)")}= option
  
  %fieldset
    %h3 Defaults
    %p
      %label{:for=>"default_filter"} Filter
      %select{:name=>"default_filter", :id=>"default_filter"}
        - for option in ["&lt;none&gt;)", "Markdown", "Smarty Pants", "Textile"]
          %option{:selected=>(option == "Textile")}= option
    %p
      %label{:for=>"default_page_parts"} Page Parts <span class="hint">(separate part names with commas)</span>
      %input.textbox{:type=>"text", :name=>"default_page_parts", :id=>"default_page_parts", :size=>32, :maxlength=>255, :value=>"body, extended"}/
    %p
      %label{:for=>"default_page_status"} Page Status
      %select{:name=>"default_page_status", :id=>"default_page_status"}
        - for option in ["Draft", "Hidden", "Published"]
          %option{:selected=>(option == "Draft")}=option
  
  %fieldset
    %h3 Passwords
    %p
      %input.checkbox{:name=>"allow_password_reset", :id=>"allow_password_reset", :type=>"checkbox", :value=>"1"}/
      %label.checkbox{:for=>"allow_password_reset"} Allow users to reset their passwords
  
  %fieldset
    %h3 Javascripts &amp; Stylesheets
    %p
      %input.checkbox{:name=>"compress_javascripts_and_stylesheets", :id=>"compress_javascripts_and_stylesheets", :type=>"checkbox", :value=>"1"}/
      %label.checkbox{:for=>"compress_javascripts_and_stylesheets"} Compress files to improve download speed
  
  %p.buttons
    %input.button{:type=>"submit", :value=>"Save Changes"}/
    or
    %a{:href=>"/admin/settings/"} Cancel