- body_classes << "reversed edit_personal_preferences"
- @selected = :general
- @title = 'Administrator Preferences - Radiant CMS - Publishing for Small Teams'

%h1 Personal Preferences

%form{:method=>"post", :action=>"/admin/settings/", "data-onsubmit_status"=>"Saving changes&#8230;"}
  
  = render "../users/avatar"
  
  = render "../users/name_email_username_fields"
  
  = render "../users/password_fields"
  
  = render "../users/language_fields"
  
  .buttons
    %input.button{:type=>"submit", :value=>"Save Changes"}/
    or
    %a{:href=>"/admin/settings/"} Cancel