.form-area
  
  %p.title
    %label{:for=>"snippet_name"} Name
    %input.textbox.activate{:name=>"snippet_name", :id=>"snippet_name", :maxlength=>100}/
  
  %p.content
    %label{:for=>"snippet_content"} Body
    %textarea.textarea{:name=>"snippet_content", :id=>"snippet_content", :style=>"width: 100%", :cols=>40, :rows=>20}=""
  
  %p
    %label{:for=>"snippet_filter"} Filter
    %select{:id=>"snippet_filter", :name=>"snippet_filter_id"}
      %option{:value=>""} none
      %option{:value=>"Markdown"} Markdown
      %option{:value=>"SmartyPants"} SmartyPants
      %option{:value=>"Textile"} Textile
  
  - unless @new_record
    %p{:style=>"clear: left"}
      %small
        Last updated by Administrator at 03:25
        %small PM
        on April 19, 2008

%div
  %input{:type=>"hidden", :name=>"lock_version"}/