%p.title
  %label{:for=>"snippet_name"} Name
  %input.textbox.activate{:name=>"snippet_name", :id=>"snippet_name", :maxlength=>100}/

%p.content
  %label{:for=>"snippet_content"} Body
  %textarea.large{:name=>"snippet_content", :id=>"snippet_content", :style=>"width: 100%", :cols=>40, :rows=>20}=""

.row
  %p
    %label{:for=>"snippet_filter"} Filter
    %select{:id=>"snippet_filter", :name=>"snippet_filter_id"}
      %option{:value=>""} none
      %option{:value=>"Markdown"} Markdown
      %option{:value=>"SmartyPants"} SmartyPants
      %option{:value=>"Textile"} Textile

%div
  %input{:type=>"hidden", :id=>"snippet_lock_version", :name=>"snippet[lock_version]", :value=>"0"}/