- @selected = :snippets
- @title = 'Snippets - Radiant CMS - Publishing for Small Teams'
.outset
  %table#snippets.index{:cellspacing=>"0", :border=>"0", :cellpadding=>"0"}
    %thead
      %tr
        %th.snippet Snippet
        %th.modify Modify
    %tbody
      %tr.node.level_1
        %td.snippet
          %img.icon{:title=>"", :src=>"/images/admin/snippet.png", :alt=>"snippet_icon"}/
          %span
            %a{:href=>"/admin/snippets/edit"} footer
        %td.remove
          %a{:href=>"/admin/snippets/remove"}
            %img{:src=>"/images/admin/remove.png", :alt=>"Remove Snippet"}/
      %tr.node.level_1
        %td.snippet
          %img.icon{:title=>"", :src=>"/images/admin/snippet.png", :alt=>"snippet_icon"}/
          %span
            %a{:href=>"/admin/snippets/edit"} header
        %td.remove
          %a{:href=>"/admin/snippets/remove"}
            %img{:src=>"/images/admin/remove.png", :alt=>"Remove Snippet"}/
      %tr.node.level_1
        %td.snippet
          %img.icon{:title=>"", :src=>"/images/admin/snippet.png", :alt=>"snippet_icon"}/
          %span
            %a{:href=>"/admin/snippets/edit"} snippet1
        %td.remove
          %a{:href=>"/admin/snippets/remove"}
            %img{:src=>"/images/admin/remove.png", :alt=>"Remove Snippet"}/
      %tr.node.level_1
        %td.snippet
          %img.icon{:title=>"", :src=>"/images/admin/snippet.png", :alt=>"snippet_icon"}/
          %span
            %a{:href=>"/admin/snippets/edit"} snippet2
        %td.remove
          %a{:href=>"/admin/snippets/remove"}
            %img{:src=>"/images/admin/remove.png", :alt=>"Remove Snippet"}/
      %tr.node.level_1
        %td.snippet
          %img.icon{:title=>"", :src=>"/images/admin/snippet.png", :alt=>"snippet_icon"}/
          %span
            %a{:href=>"/admin/snippets/edit"} snippet3
        %td.remove
          %a{:href=>"/admin/snippets/remove"}
            %img{:src=>"/images/admin/remove.png", :alt=>"Remove Snippet"}/
      %tr.node.level_1
        %td.snippet
          %img.icon{:title=>"", :src=>"/images/admin/snippet.png", :alt=>"snippet_icon"}/
          %span
            %a{:href=>"/admin/snippets/edit"} snippet4
        %td.remove
          %a{:href=>"/admin/snippets/remove"}
            %img{:src=>"/images/admin/remove.png", :alt=>"Remove Snippet"}/
      %tr.node.level_1
        %td.snippet
          %img.icon{:title=>"", :src=>"/images/admin/snippet.png", :alt=>"snippet_icon"}/
          %span
            %a{:href=>"/admin/snippets/edit"} snippet5
        %td.remove
          %a{:href=>"/admin/snippets/remove"}
            %img{:src=>"/images/admin/remove.png", :alt=>"Remove Snippet"}/
      %tr.node.level_1
        %td.snippet
          %img.icon{:title=>"", :src=>"/images/admin/snippet.png", :alt=>"snippet_icon"}/
          %span
            %a{:href=>"/admin/snippets/edit"} snippet6
        %td.remove
          %a{:href=>"/admin/snippets/remove"}
            %img{:src=>"/images/admin/remove.png", :alt=>"Remove Snippet"}/
      %tr.node.level_1
        %td.snippet
          %img.icon{:title=>"", :src=>"/images/admin/snippet.png", :alt=>"snippet_icon"}/
          %span
            %a{:href=>"/admin/snippets/edit"} snippet7
        %td.remove
          %a{:href=>"/admin/snippets/remove"}
            %img{:src=>"/images/admin/remove.png", :alt=>"Remove Snippet"}/
      %tr.node.level_1
        %td.snippet
          %img.icon{:title=>"", :src=>"/images/admin/snippet.png", :alt=>"snippet_icon"}/
          %span
            %a{:href=>"/admin/snippets/edit"} snippet8
        %td.remove
          %a{:href=>"/admin/snippets/remove"}
            %img{:src=>"/images/admin/remove.png", :alt=>"Remove Snippet"}/
      %tr.node.level_1
        %td.snippet
          %img.icon{:title=>"", :src=>"/images/admin/snippet.png", :alt=>"snippet_icon"}/
          %span
            %a{:href=>"/admin/snippets/edit"} snippet9
        %td.remove
          %a{:href=>"/admin/snippets/remove"}
            %img{:src=>"/images/admin/remove.png", :alt=>"Remove Snippet"}/
      %tr.node.level_1
        %td.snippet
          %img.icon{:title=>"", :src=>"/images/admin/snippet.png", :alt=>"snippet_icon"}/
          %span
            %a{:href=>"/admin/snippets/edit"} snippet10
        %td.remove
          %a{:href=>"/admin/snippets/remove"}
            %img{:src=>"/images/admin/remove.png", :alt=>"Remove Snippet"}/
      %tr.node.level_1
        %td.snippet
          %img.icon{:title=>"", :src=>"/images/admin/snippet.png", :alt=>"snippet_icon"}/
          %span
            %a{:href=>"/admin/snippets/edit"} snippet11
        %td.remove
          %a{:href=>"/admin/snippets/remove"}
            %img{:src=>"/images/admin/remove.png", :alt=>"Remove Snippet"}/
      %tr.node.level_1
        %td.snippet
          %img.icon{:title=>"", :src=>"/images/admin/snippet.png", :alt=>"snippet_icon"}/
          %span
            %a{:href=>"/admin/snippets/edit"} snippet12
        %td.remove
          %a{:href=>"/admin/snippets/remove"}
            %img{:src=>"/images/admin/remove.png", :alt=>"Remove Snippet"}/
      %tr.node.level_1
        %td.snippet
          %img.icon{:title=>"", :src=>"/images/admin/snippet.png", :alt=>"snippet_icon"}/
          %span
            %a{:href=>"/admin/snippets/edit"} snippet13
        %td.remove
          %a{:href=>"/admin/snippets/remove"}
            %img{:src=>"/images/admin/remove.png", :alt=>"Remove Snippet"}/
      %tr.node.level_1
        %td.snippet
          %img.icon{:title=>"", :src=>"/images/admin/snippet.png", :alt=>"snippet_icon"}/
          %span
            %a{:href=>"/admin/snippets/edit"} snippet14
        %td.remove
          %a{:href=>"/admin/snippets/remove"}
            %img{:src=>"/images/admin/remove.png", :alt=>"Remove Snippet"}/
      %tr.node.level_1
        %td.snippet
          %img.icon{:title=>"", :src=>"/images/admin/snippet.png", :alt=>"snippet_icon"}/
          %span
            %a{:href=>"/admin/snippets/edit"} snippet15
        %td.remove
          %a{:href=>"/admin/snippets/remove"}
            %img{:src=>"/images/admin/remove.png", :alt=>"Remove Snippet"}/
      %tr.node.level_1
        %td.snippet
          %img.icon{:title=>"", :src=>"/images/admin/snippet.png", :alt=>"snippet_icon"}/
          %span
            %a{:href=>"/admin/snippets/edit"} BOTTOM
        %td.remove
          %a{:href=>"/admin/snippets/remove"}
            %img{:src=>"/images/admin/remove.png", :alt=>"Remove Snippet"}/

#actions
  %ul
    %a{:href=>"/admin/snippets/new"} New Snippet