- @selected = :snippets
- @title = 'Snippets - Radiant CMS - Publishing for Small Teams'

.outset
  %table#snippets.index
    %thead
      %tr
        %th.snippet Snippet
        %th.modify Modify
    %tbody
      %tr.node.level_1
        %td.snippet
          %img.icon{:title=>"", :src=>"/images/admin/snippet.png", :alt=>""}/
          %span
            %a{:href=>"/admin/snippets/edit"} footer
        %td.remove
          %a{:href=>"/admin/snippets/remove"}
            %img{:src=>"/images/admin/remove.png", :alt=>"Remove Snippet"}/
      %tr.node.level_1
        %td.snippet
          %img.icon{:title=>"", :src=>"/images/admin/snippet.png", :alt=>""}/
          %span
            %a{:href=>"/admin/snippets/edit"} header
        %td.remove
          %a{:href=>"/admin/snippets/remove"}
            %img{:src=>"/images/admin/remove.png", :alt=>"Remove Snippet"}/

#actions
  %ul
    %li
      %a{:href=>"/admin/snippets/new"} New Snippet