- @selected = :snippets
- @title = 'Snippets - Radiant CMS - Publishing for Small Teams'

.outset
  %table.index#snippets
    %thead
      %tr
        %th.name Snippet
        %th.modify Modify
    %tbody
      %tr.snippet
        %td.name
          %img{:title=>"", :src=>"/images/admin/snippet.png", :alt=>""}/
          %a{:href=>"/admin/snippets/edit"} footer
        %td.remove
          %a.action{:href=>"/admin/snippets/remove"} Remove
      %tr.snippet
        %td.name
          %img{:title=>"", :src=>"/images/admin/snippet.png", :alt=>""}/
          %a{:href=>"/admin/snippets/edit"} header
        %td.remove
          %a.action{:href=>"/admin/snippets/remove"} Remove

#actions
  %ul
    %li= link_to image('plus.png') + " New Snippet", "/admin/snippets/new"