%p
  %label{:for => "user_name"} Name
  %input.textbox.big.activate{:type => "text", :name => "user[name]", :id => "user_name", :maxlength => 100, :size => 30}/
%p
  %label{:for => "user_email"} E-mail Address
  %input.textbox.big{:type => "text", :name => "user[email]", :id => "user_email", :maxlength => 100, :size => 30}/
%p
  %label{:for => "user_login"} Username
  %input.textbox.big{:type => "text", :name => "user[login]", :id => "user_login", :maxlength => 100, :size => 30}/
= render :partial => "password"
%p
  %label Roles
  %span.checkbox
    %input{:type =>"checkbox", :name =>"user_admin", :id => "user_admin"}/
    %label{:for=>"user_admin"} Administrator
  %span.checkbox
    %input{:type =>"checkbox", :name =>"user[developer]", :id => "user_developer"}/
    %label{:for=>"user_developer"} Developer
%p
  %label{:for => "user_notes"} Notes
  %textarea{:name => "user[notes]", :id => "user_notes", :cols => 50, :rows => 8}