%p
  %label{:for=>"user_name"} Name
  %input.textbox.activate{:type=>"text", :name=>"user_name", :id=>"user_name", :size=>32, :maxlength=>100}/
%p
  %label{:for=>"user_email"} E-mail
  %input.textbox{:type=>"text", :name=>"user_email", :id=>"user_email", :size=>32, :maxlength=>255}/
%p
  %label{:for=>"user_login"} Username
  %input.textbox{:type=>"text", :name=>"user_login", :id=>"user_login", :size=>32, :maxlength=>255}/

= render :partial => "password_fields"

%p
  %label.optional{:for=>"user_notes"} Notes
  %textarea.textarea{:name=>"user_notes", :id=>"user_notes", :rows=>"4", :cols=>"53"}=""

%p
  %label.multi_option Roles
  
  %input.checkbox{:type =>"checkbox", :name=>"user_admin", :id=>"user_admin"}/
  %label.checkbox{:for=>"user_admin"} Administrator
  
  %input.checkbox{:type =>"checkbox", :name=>"user[developer]", :id=>"user_developer"}/
  %label.checkbox{:for=>"user_developer"} Developer

%div
  %input{:type=>"hidden", :name=>"lock_version"}/