= render "name_email_username_fields"

= render "password_fields"

= render "language_fields"

%p
  %label.optional{:for=>"user_notes"} Notes
  %textarea{:name=>"user_notes", :id=>"user_notes", :rows=>"4", :cols=>"53"}=""

%p
  %label.multi_option Roles
  
  %input.checkbox{:type =>"checkbox", :name=>"user_admin", :id=>"user_admin"}/
  %label.checkbox{:for=>"user_admin"} Administrator
  
  %input.checkbox{:type =>"checkbox", :name=>"user[designer]", :id=>"user_designer"}/
  %label.checkbox{:for=>"user_designer"} Designer

%div
  %input{:type=>"hidden", :name=>"lock_version"}/