%p
  %label{:for=>"user_language"} Language
  %select{:name=>"user_language", :id=>"user_language"}
    %option{:value=>""} Default (English)
    %option{:value=>"en"} English
    %option{:value=>"ga"} Gaelic
    %option{:value=>"ge"} German
    %option{:value=>"fr"} French
    %option{:value=>"it"} Italian
    %option{:value=>"ru"} Russian