%p#display_password{:style => @new_record ? "display:none" : nil}
  %label Password
  %span.value
    &bull;&bull;&bull;&bull;&bull;
    %a.action{:href=>"#", :onclick=>" $('display_password').hide(); $('change_password').show()"} Change
.set#change_password{:style=> @new_record ? nil : "display: none"}
  %p
    %label{:for=>"user_password"} Password
    %input.textbox.big.activate{:type=>"password", :name=>"user_password", :id=>"user_password", :size=>20, :maxlength=>40}/
  %p
    %label{:for=>"user_password_confirmation"} Confirm Password
    %input.textbox.big{:type=>"password", :name=>"user_password_confirmation", :id=>"user_password_confirmation", :size=>20, :maxlength=>40}/
    %span{:style => @new_record ? "display:none" : nil}
      or
      %a{:href=>"#", :onclick=>" $('display_password').show(); $('change_password').hide()"} Cancel
