- @selected = :users
- @title = 'Users - Radiant CMS - Publishing for Small Teams'

.outset
  %table#users.index
    %thead
      %tr
        %th.user Name / Login
        %th.roles Roles
        %th.modify Modify
    %tbody
      %tr.node.level_1
        %td.user
          %a{:href=>"/admin/users/edit"} Administrator
          %span.login admin
        %td.roles Administrator
        %td.remove
          %span.disabled 
            Remove
      %tr.node.level_1
        %td.user
          %a{:href=>"/admin/users/edit"} Jim
          %span.login jim
        %td.roles Administrator, Designer
        %td.remove
          %a{:href=>"/admin/users/remove"}
            Remove
      %tr.node.level_1
        %td.user
          %a{:href=>"/admin/users/edit"} Lisa
          %span.login lisa
        %td.roles Designer
        %td.remove
          %a{:href=>"/admin/users/remove"}
            Remove
      %tr.node.level_1
        %td.user
          %a{:href=>"/admin/users/edit"} Ralph
          %span.login ralph
        %td.roles Designer
        %td.remove
          %a{:href=>"/admin/users/remove"}
            Remove
      %tr.node.level_1
        %td.user
          %a{:href=>"/admin/users/edit"} Susan
          %span.login susan
        %td.roles 
        %td.remove
          %a{:href=>"/admin/users/remove"}
            Remove

#actions
  %ul
    %li
      %a{:href=>"/admin/users/new"} New User