- @selected = :users

.outset
  %table#users.index{:cellspacing=>"0", :border=>"0", :cellpadding=>"0"}
    %thead
      %tr
        %th.user Name / Login
        %th.roles Roles
        %th.modify Modify
    %tbody
      %tr.node.level_1
        %td.user
          %a{:href=>"/admin/users/edit"} Administrator
          %small.login admin
        %td.roles Admin
        %td.remove
          %img{:src=>"/images/admin/remove_disabled.png", :alt=>"Remove User"}/
      %tr.node.level_1
        %td.user
          %a{:href=>"/admin/users/edit"} Jim
          %small.login jim
        %td.roles Developer
        %td.remove
          %a{:href=>"/admin/users/remove"}
            %img{:src=>"/images/admin/remove.png", :alt=>"Remove User"}/
      %tr.node.level_1
        %td.user
          %a{:href=>"/admin/users/edit"} Lisa
          %small.login lisa
        %td.roles Developer
        %td.remove
          %a{:href=>"/admin/users/remove"}
            %img{:src=>"/images/admin/remove.png", :alt=>"Remove User"}/
      %tr.node.level_1
        %td.user
          %a{:href=>"/admin/users/edit"} Ralph
          %small.login ralph
        %td.roles Developer
        %td.remove
          %a{:href=>"/admin/users/remove"}
            %img{:src=>"/images/admin/remove.png", :alt=>"Remove User"}/
      %tr.node.level_1
        %td.user
          %a{:href=>"/admin/users/edit"} Susan
          %small.login susan
        %td.roles Developer
        %td.remove
          %a{:href=>"/admin/users/remove"}
            %img{:src=>"/images/admin/remove.png", :alt=>"Remove"}/

#actions
  %ul
    %li
      %a{:href=>"/admin/users/new"} New User