- body_classes << "reversed"
- @selected = :preferences

%h1 Personal Preferences

%form{:method=>"post", :action=>"/admin/users/preferences/", :onsubmit_status=>"Saving changes&#8230;"}
  %p
    %label{:for=>"user_login"} Username
    %input.textbox.big{:type=>"text", :name=>"user_email", :id=>"user_email", :size=>30, :maxlength=>255}/
  %p
    %label{:for=>"user_email"} E-mail
    %input.textbox.big{:type=>"text", :name=>"user_email", :id=>"user_email", :size=>30, :maxlength=>255}/
  = render :partial => "password"
  %p.buttons
    %input.button{:type=>"submit", :value=>"Save Changes"}/
    or
    %a{:href=>"/admin/pages/"} Cancel