- body_classes << "reversed"
- @selected = :preferences

%h1 Personal Preferences

%form{:method=>"post", :action=>"/admin/pages/", :onsubmit_status=>"Saving changes&#8230;"}
  .set
    %p
      %label{:for=>"user_password"} Password
      %input.textbox.big.activate{:type=>"password", :name=>"user_password", :id=>"user_password", :maxlength=>40}/
      %span.hint At least 5 characters.
    %p
      %label{:for=>"user_password_confirmation"} Confirm Password
      %input.textbox.big{:type=>"password", :name=>"user_password_confirmation", :id=>"user_password_confirmation", :maxlength=>40}/
  %p
    %label{:for=>"user_email"} E-mail
    %input.textbox.big{:type=>"text", :name=>"user_email", :id=>"user_email", :maxlength=>255}/
    %span.hint Optional.
  %p.buttons
    %input.button{:type=>"submit", :value=>"Save Changes"}/
    or
    %a{:href=>"/admin/pages/"} Cancel