- @selected = :users

%h1 Remove User

%p Are you sure you want to <strong class="warning">permanently remove</strong> the following user?

%table.index#users
  %tbody
    %tr.node.level_1#user_2
      %td.user
        %span.title Jim

%form{:method=>"post", :action=>"/admin/users/index_after_user_removed.haml"}
  %p.buttons
    %input.button{:type=>"submit", :value=>"Delete User"}/
    or
    %a{:href=>"/admin/users"} Cancel