- @selected = :users

%h1 Remove User

%p Are you sure you want to <strong class="warning">permanently remove</strong> the following user?

%table.index#users
  %tbody
    %tr.user#user_2
      %td.name
        %img.avatar.avatar_32x32{:src=>gravatar_url('unknown.user@example.com', :size=>"32px"), :width=>32, :height=>32, :alt=>""}
        Jim
        %span.login (jim)

%form{:method=>"post", :action=>"/admin/users/index_after_user_removed.haml"}
  %p.buttons
    %input.button{:type=>"submit", :value=>"Delete User"}/
    or
    %a{:href=>"/admin/users"} Cancel