=clearfix
  display: inline-block
  &:after
    content: "." 
    height: 0
    clear: both
    visibility: hidden
  * html &
    height: 1px

#main
  float: left
  width: 100%

#content
  font-size: 95%
  line-height: 1.2em
  padding: 20px
  .outset
    margin: -20px
  h1
    margin-top: 0.25em
  table
    &.index
      font-size: 90%
      margin-bottom: 2em
      width: 100%
      td
        text-align: left
        padding: 4px
        &.status
          color: #9eb3bf
          &.draft-status
            color: #c00
          &.published-status
            color: black
          &.hidden-stats
            color: #0c0
        &.note
          color: silver
          font-size: 85%
          font-style: italic
          padding: 3em
          text-align: center
        &.page, &.snippet, &.layout, &.user, &.extension
          padding-left: 9px
      th
        background-color: #9e9e9e
        color: white
        font-size: 90%
        font-weight: normal
        padding: 4px
        padding-top: 2px
        padding-bottom: 2px
        text-shadow: 1px 1px 0 #666
        &.page, &.snippet, &.layout, &.user, &.extension
          padding-left: 9px
      .status
        width: 8em
      .add-child
        width: 100px
        padding-left: 0
      .remove
        width: 100px
        padding-left: 0
      .node
        .layout
          font-size: 115%
          font-weight: bold
        .user small
          color: #666
          font-size: 90%
          font-style: italic
          font-weight: normal
          margin-left: .5em
        &.level-0 .page
          font-size: 120%
          font-weight: bold
        &.level-1 .page
          font-size: 115%
          font-weight: bold
        &.level-2 .page
          font-size: 115%
        &.level-3 .page
          font-size: 105%
        .page
          a
            text-decoration: none
            .title
              color: black
              font-size: 100%
              text-decoration: none
            &:hover .title
              color: blue
              text-decoration: underline
          .info
            color: #9eb3bf
            font-style: italic
            font-weight: normal
        &.virtual .page a .title
          color: #9eb3bf
      .page
        .w1
          position: relative
          .title
            position: relative
            top: 2px
          img.expander
            left: -25px
            position: absolute
            padding: 3px
            padding-top: 6px
            padding-bottom: 6px
    &.fieldset
      border-bottom: 1px solid #DFD3C3
      margin-bottom: .3em
      width: 100%
      td
        background-color: white
        border-top: 1px solid #DFD3C3
        padding: 6px
        &.field
          padding-left: 0px
          padding-right: 10px
          text-align: right
          .textbox
            width: 99.5%
            margin-right: -5px
        &.help
          background-color: #F5F1E2
          font-size: 80%
          padding: 0 10px
          width: 31%
      th.label
        padding-top: 10px
        padding-right: 8px
        vertical-align: top
        whitespace: nowrap
        width: 1%
        text-align: left
        .optional
          color: #929488
      input
        font-size: 100%
      .checkbox
        display: block
        float: left
        padding-top: 4px
        padding-left: 10px
        width: 10em
        text-align: left
      textarea
        font-family: "Lucida Grande", "Bitstream Vera Sans", Helvetica, Verdana, Arial, sans-serif
        font-size: 100%
        width: 100%
        height: 3.75em
        margin-top: 4px
        margin-bottom: 4px
      .error-with-field small
        color: red
  .form-area
    background-color: #f5f1e2
    margin-left: -20px
    margin-right: -20px
    padding: 20px
    padding-top: 15px
    padding-bottom: 10px
    width: 100%
    h3
      font-size: 100%
      margin-bottom: 0
    p
      margin-top: 0
    small
      font-size: 75%
    label
      font-weight: bold
    .textbox
      font-size: 100%
    .title
      margin-bottom: 0
      width: 100%
      label
        display: block
        position: relative
      .textbox
        font-family: Georgia, Palatino, "Times New Roman", Times, serif
        font-size: 200%
        width: 100%
    .content
      margin-top: 1em
      margin-bottom: 1em
    .row
      clear: both
      margin-top: 20px
      width: 100%
      p
        float: left
        margin-right: 2em
        margin-bottom: 1em
    .more-or-less
      float: left
      margin-top: 0
      margin-bottom: 1em
      width: 100%
      a
        display: block
        float: left
        padding: 5px
    #extended-metadata.row
      background: #eae3c5
      margin-top: 15px
      table.fieldset
        margin-bottom: 0
        td.actions
          min-width: 30px
          text-align: left
          vertical-align: middle
    .fieldset
      margin-right: .5em
    .error-with-field .error
      color: #f00
      display: block
      padding: 2px
      padding-top: 0
  .buttons
    font-size: 80%
    margin-top: 2.5em
  .button
    font-size: 150%
  .fieldset label
    font-weight: normal
    font-size: 85%
  #extended-metadata
    background: #fff
    .fieldset
      clear: both
    .fieldset td.field
      width: 100%
  .textarea
    height: 280px
    border: 1px solid #cdc295
    font-family: Monaco, "Courier New", Courier, monospace
    font-size: 95%
  #pages label
    font-size: 85%
    font-weight: normal !important

table.index
  th
    text-align: left

#content table
  &.index
    .node
      .snippet
        font-size: 115%
        font-weight: bold
        a
          color: black
          text-decoration: none
          &:visited
            color: black
            text-decoration: none
            &:hover
              color: blue
              text-decoration: underline
          &:hover
            color: blue
            text-decoration: underline
      .user
        font-size: 115%
        font-weight: bold
        a
          color: black
          text-decoration: none
          &:visited
            color: black
            text-decoration: none
            &:hover
              color: blue
              text-decoration: underline
          &:hover
            color: blue
            text-decoration: underline
      .page a:visited
        .title
          color: black
          text-decoration: none
        &:hover .title
          color: blue
          text-decoration: underline
      .layout a
        color: black
        text-decoration: none
        &:visited
          color: black
          text-decoration: none
          &:hover
            color: blue
            text-decoration: underline
        &:hover
          color: blue
          text-decoration: underline
      &.virtual .page a:visited .title
        color: #9eb3bf
    tr
      &:hover, &.hover
        background-color: #ecf4ff
    .page .info
      font-size: 90%
      position: relative
      top: 2px
  &.fieldset
    th
      background-color: white
      border-top: 1px solid #dfd3c3
      padding: 6px
    td.field textarea
      width: 99.5%
      margin-right: -5px

body.reversed
  #content
    h1
      background: #7e7e7e
      font-size: 125%
      margin: -20px -20px 20px
      padding: 15px 20px
      text-shadow: white 0 0 0
    form
      p
        label
          display: block
          font-weight: bold
          text-shadow: #666 1px 1px 0
        input.textbox
          font-size: 100%
        input.textbox.big
          font-family: Georgia, Palatino, "Times New Roman", Times, serif
          font-size: 140%
        .value
          display: block
          margin-top: 0.25em
          text-shadow: #666 1px 1px 0
        .hint
          font-size: 90%
          display: inline
          text-shadow: white 0 0 0
        a
          color: white
          &.action
            background-color: #7e7e7e
            font-size: 75%
            padding: 0.2em 0.5em 0.30em
            border-radius: 5px
            -moz-border-radius: 4px
            -webkit-border-radius: 4px
            text-decoration: none
            text-shadow: white 0 0 0
            &:hover
              background-color: #555
        small
          font-size: 80%
      .set
        +clearfix
        p
          float: left
          margin: 0
          margin-right: 1em
      .buttons
        background: white url(/admin/images/buttons_background.png) bottom repeat-x
        border-radius: 8px
        -moz-border-radius: 8px
        -webkit-border-radius: 8px
        color: #666
        padding: 12px 10px
        a
          color: red