%tr
  %td.label
    %label{:for=>"custom_field"}= params['attribute[name]']
  %td.field
    %input#custom_field.textbox{:name=>"page[attributes][]", :size=>"160", :type=>"text", :maxlength=>"160"}/
  %td.actions
    %a.popup{:href=>"/admin/pages/attributes/new", :title=>"Add Custom Field"}
      %img{:src=>"/admin/images/plus_grey.png", :alt=>"Add Attribute", :title=>""}/
    %a{:href=>"#", :title=>"Remove Custom Field", :onclick=>" event.stop(); window.removeAttribute(this)"}
      %img{:src=>"/admin/images/minus_grey.png", :alt=>"Remove Attribute", :title=>""}/
