%tr
  %td.label
    %label{:for=>"custom_field"}= params['attribute[name]']
  %td.field
    %input#custom_field.textbox{:name=>"page[attributes][]", :size=>"160", :type=>"text", :maxlength=>"160"}/
  %td.actions
    %a.popup{:href=>"/admin/pages/attributes/new", :title=>"Add Custom Field"}
      %img{:src=>"/admin/images/plus.png", :alt=>"Add Part", :title=>""}/
    %a{:href=>"#", :title=>"Remove Custom Field", :onclick=>"window.removeAttribute(this); Event.stop(event)"}
      %img{:src=>"/admin/images/minus.png", :alt=>"Remove Part", :title=>""}/
