- field_id = "page_attributes_#{params['attribute[name]']}"
%tr
  %th.label
    %label{:for=> field_id }= params['attribute[name]']
  %td.field
    %input{:name => "page[attributes][][name]", :type => "hidden", :value => params['attribute[name]']}/
    %input.textbox{:id => field_id, :name=>"page[attributes][][value]", :size=>"160", :type=>"text", :maxlength=>"160"}/
  %td.actions
    %a.popup{:href=>"/admin/pages/attributes/new", :title=>"Add Custom Field"}
      %img{:src=>"/images/admin/plus_grey.png", :alt=>"Add Attribute", :title=>""}/
    %a{:href=>"#", :title=>"Remove Custom Field", :onclick=>"event.stop(); window.removeAttribute(this)"}
      %img{:src=>"/images/admin/minus_grey.png", :alt=>"Remove Attribute", :title=>""}/
