%tr
  %td.label
    %label{:for=>"custom_field"}
      Custom Field
  %td.field
    %input#custom_field.textbox{:name=>"custom[field]", :size=>"160", :type=>"text", :value=>"Custom Field", :maxlength=>"160"}/
  %td.icons
    %a.remove_meta_field{:href=>"#", :title=>"Remove Custom Field"}
      %img{:src=>"/admin/images/minus.png", :alt=>"Remove Part", :title=>""}/
    %a.add_meta_field{:href=>"/admin/pages/attributes/new", :title=>"Add Custom Field"}
      %img{:src=>"/admin/images/plus.png", :alt=>"Add Part", :title=>""}/
