- @selected = :stylesheets

%h1 Remove Stylesheet

%p Are you sure you want to <strong class="warning">permanently remove</strong> the following stylesheet?

%table.index#stylesheets
  %tbody
    %tr.stylesheet#stylesheet_4
      %td.name
        %img{:src=>"/images/admin/stylesheet.png", :alt=>"", :title=>""}/
        screen.css

%form{:method=>"post", :action=>"/admin/stylesheets/index.haml", "data-onsubmit_status"=>"Removing stylesheet&#8230;"}
  %p.buttons
    %input.button{:type=>"submit", :value=>"Delete Stylesheet"}/
    or
    %a{:href=>"/admin/stylesheets"} Cancel