- body_classes << "reversed"
- @selected = :general

.box#preferences
  %h3
    .actions
      = button_to "Edit", "/admin/preferences/edit/"
    Personal Preferences
  %img.avatar{:src=>gravatar_url('seancribbs@gmail.com', :size=>"64px"), :width=>64, :height=>64, :alt=>""}
  %p.ruled
    %label Name
    Sean Cribbs
  %p.ruled
    %label E-mail Address
    %span.uri seancribbs@gmail.com
  %p.ruled
    %label Username
    %span seancribbs
  %p.ruled
    %label Password
    %big &bull;&bull;&bull;&bull;&bull;

.box
  %h3
    -# People without admin priviledges should not see the edit button
    .actions
      = button_to "Edit", "/admin/configuration/edit/"
    Configuration
  %p.ruled
    %label Dev Host
    %span.uri dev.mysite.com
  %p.ruled
    %label Timezone
    Eastern Time (US & Canada)
  
  %h4 Defaults
  %p.ruled
    %label Filter
    Textile
  %p.ruled
    %label Page Parts
    body, extended
  %p.ruled
    %label Page Status
    Draft
  
  %h4 Javascripts &amp; Stylesheets
  %p.ruled
    %label Compress
    Yes
.box
  %h3
    Custom
    .actions
      = button_to "Edit", "/admin/settings/"
  %p.ruled
    %label Site Title
    Radiant CMS Website