- body_classes << "reversed"
- @selected = :general
- @title = 'Settings - Radiant CMS - Publishing for Small Teams'

.box#preferences
  %h3
    .actions
      = button_to "Edit", "/admin/preferences/edit/"
    Personal Preferences
  %img.avatar{:src=>gravatar_url('seancribbs@gmail.com', :size=>"64px"), :width=>64, :height=>64, :alt=>""}
  %p.ruled
    %label Name
    Sean Cribbs
  %p.ruled
    %label E-mail Address
    %span.uri seancribbs@gmail.com
  %p.ruled
    %label Username
    %span seancribbs
  %p.ruled
    %label Password
    %big &bull;&bull;&bull;&bull;&bull;
  %p.ruled
    %label Language
    %span Default (English)

.box
  %h3
    -# People without admin priviledges should not see the edit button
    .actions
      = button_to "Edit", "/admin/configuration/edit/"
    Configuration
  %p.ruled
    %label Site Name
    %span Your Web Site
  %p.ruled
    %label Domain Name
    %span.uri yourdomain.com
  %p.ruled
    %label Dev Site Domain
    %span.uri dev.yourdomain.com
  %p.ruled
    %label Timezone
    Eastern Time (US & Canada)
  
  %h4 Defaults
  %p.ruled
    %label Language
    English
  %p.ruled
    %label Filter
    Textile
  %p.ruled
    %label Page Parts
    body, extended
  %p.ruled
    %label Page Status
    Draft
  
  %h4 Passwords
  %p.ruled
    %label Allow Password Reset
    Yes
  
  %h4 Javascripts &amp; Stylesheets
  %p.ruled
    %label Compress
    Yes
.box
  %h3
    Custom
    .actions
      = button_to "Edit", "/admin/settings/"
  %p.ruled
    %label Site Title
    Your Web Site
  %p.ruled
    %label Site Subtitle
    Just another website