- @selected = :acme_intro

%h1 Acme Extension

%p
  Radiant ships with an assortment of styles and helper methods that allow
  developers to easily assemble extensions that have a &#8220;native&#8221;
  Radiant look and feel. The Acme extension is a fictitious extension that
  exists only within the prototype. It is designed to make it easy to test
  the generic styles that Radiant provides.