#add-part-popup.popup
  #busy.busy{:style=>"display: none"}
    %img{:src=>"/admin/images/spinner.gif", :alt=>"Spinner"}/
  %h3.title Add Part
  %form{:action=>"/admin/pages/parts/create/", :method=>"post", :onsubmit=>"if (validPartName()) {new Ajax.Updater('pages', '/admin/pages/parts/create/', {asynchronous:true, evalScripts:true, insertion:Insertion.Bottom, onComplete:function(request){partAdded()}, onLoading:function(request){partLoading()}, parameters:Form.serialize(this)});}; return false;"}
    %p
      %label{:for=>"part-name-field"} Name
      %input.textbox.big#part-name-field{:name=>"part[name]", :type=>"text", :value=>"", :maxlength=>"100", :style=>"width: 15em"}/
      %input#part-index-field{:name=>"index", :type=>"hidden", :value=>"2"}/
    %p.buttons
      %input.button#add-part-button{:name=>"commit", :type=>"submit", :value=>"Add Part"}/
      or
      %a{:href=>"javascript: Element.closePopup('add-part-popup')"} Cancel