- @selected = :acme_orders

- @orders = []

.outset
  %table.index#orders
    %thead
      %tr
        %th.order Order
        %th.actions{:style=>"width:9em"} Modify
    %tbody
      - unless @orders.empty?
        - @orders.each do |order|
          %tr.order
            %td.name
              = image('order', :alt => '')
              = link_to order.title, "/admin/acme/orders/edit"
            %td.actions
              = link_to image('minus.png') + " Remove", "/admin/acme/orders/remove"
      - else
        %tr
          %td.empty{:colspan=>2} No Orders

#actions
  %ul
    %li= link_to image('plus.png') + " New Order", "/admin/acme/orders/new"

- sleep(1) # provide a bit of a delay when loading to simulate the real app